<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech-to-Text</title>
</head>
<body>
    <h1>Speech-to-Text</h1>

    <button id="startRecording">Ses Kaydı Başlat</button>
    <button id="stopRecording" disabled>Ses Kaydı Durdur</button>

    <p id="transcription"></p>
    <div id="resultDiv"></div>

    <audio id="audioPlayer" controls></audio>
    <p id="timer">0 saniye</p>

    <form action="#" method="post">
        <label for="input1">isim 1:</label>
        <div id="konuText"></div>

        <label for="input1">konu 1:</label>
        <div id="konuText2"></div>
        
        <label for="input1">icerik 1:</label>
        <div id="konuText3"></div>

    </form>

    <script>


        // <input type="text" id="konuText"  value = "" name="input1"  >
        const startRecordingButton = document.getElementById('startRecording');
        const stopRecordingButton = document.getElementById('stopRecording');
        const transcriptionOutput = document.getElementById('transcription');
        const resultDiv = document.getElementById('resultDiv');
        const audioPlayer = document.getElementById('audioPlayer');
        const timerOutput = document.getElementById('timer');
        const konuText = document.getElementById('konuText');
        const konuText2 = document.getElementById('konuText2');
        const konuText3 = document.getElementById('konuText3');
        var key = 0;

        let recognition;
        let timer;
        let seconds = 0;

        function startTimer() {
            timer = setInterval(() => {
                seconds++;
                timerOutput.textContent = `${seconds} saniye`;
            }, 1000);
        }

        function stopTimer() {
            clearInterval(timer);
            seconds = 0;
            timerOutput.textContent = '0 saniye';
        }

        startRecordingButton.addEventListener('click', () => {
            recognition = new webkitSpeechRecognition()|| SpeechRecognition();
            // Set language to English (United States)
            recognition.lang = 'en-US';
            recognition.continuous = true;
            recognition.interimResults = true;

            recognition.onstart = () => {
                startTimer();
                startRecordingButton.disabled = true;
                stopRecordingButton.disabled = false;
            };

            recognition.onresult = (event) => {
                let interimTranscript = '';
                for (let i = event.resultIndex; i < event.results.length; i++) {
                    const transcript = event.results[i][0].transcript;
                    if (event.results[i].isFinal) {
                        //transcriptionOutput.textContent = transcript;
                        //sendTextToPython(transcript); // alınan metin
                       
                        if (key == 0){
                            getName(transcript)
                        }
                        if (key == 1){
                            getKonu(transcript)
                        }
                        if (key == 2){
                            getIcerik(transcript)
                            sendTextToPythonNew("transcript")
                        }
                        key++;

                    } else {
                        interimTranscript += transcript;
                    }
                }
            };

            recognition.start();
        });

        stopRecordingButton.addEventListener('click', () => {
            recognition.stop();
            stopTimer();
            startRecordingButton.disabled = false;
            stopRecordingButton.disabled = true;
        });
        function getName(text){
            konuText.textContent=text;
        }
        function getKonu(text){
            konuText2.textContent=text;
        }
        function getIcerik(text){
            konuText3.textContent=text;
        }

        function sendTextToPythonNew(text) {
            var text1 = konuText.textContent+"%%"+konuText2.textContent+"%%"+konuText3.textContent
            console.log(text1)
            fetch('/process_audio', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'text=' + encodeURIComponent(text1),
            })
            .then(response => response.text())
            .then(data => {
                console.log('Response from server:', data);
                //resultDiv.innerText =  data;
                // Assume 'data' contains the path or URL of the recorded audio file
                audioPlayer.src = data;
            })
            .catch(error => {
                console.error('Error sending data to server:', error);
            });
        }

    </script>
</body>
</html>